/*============================================
menu.css
Styles for menu screens
============================================*/

/*--------------------------------------------
Top/Header Dock
--------------------------------------------*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-size: 14px;
	min-width: 950px;
}

#header-dock {
	width: 100%;
	height: 10%;
	position: sticky;
}

#title-holder {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#menu-bar-button-holder {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	right: 0;
	position: absolute;
	bottom: 0;
}

#button-call-for-help, #button-pay-for-order  {
	padding: 15px;
	margin: 15px;
}

/*-----------------------------------------
Navigation Bar Dock
*/

ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
	overflow: hidden;
	margin-bottom: 5px;
	width: 100%;
}

li {
	float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	color: #FFFFFF;
}

li a:hover {
    background-color: white;
    color: black;
}

/*--------------------------------------------
Menu items Dock
--------------------------------------------*/
h4 {
	margin-top: 8px;
	margin-bottom: 10px;
}

.menu-items-dock {
	overflow: auto;
	height: 82%;
	width: 80%;
	display: none;
	float: left;
}

input, label {
    display:block;
}

#red-quantity {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

.quantity-value {
	float: left;
}

#add-quantity {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

#quantity-block {
	float: left;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 33%
}

#quantity-name {
	float: left;
}

.expanded-item-dock {
	width: 98%;
	height: 30%;
	margin-bottom: 15px;
	margin-left: 8px;
}

#expanded-food-image-dock {
	float: left;
	width: 33%;
	height: 100%;
}

#expanded-food-image {
	float: left;
	margin-top: 3%;
	margin-left: 5%;
	max-width: 90%;
	height: 85%;
}

#temp-desc {
	float: left;
	height: 100%;
	width: 33%;
}

.food-price {
	display: none;
}

.food-name {
	display: none;
}

#order-info-block {
	float: left;
	height: 100%;
	width: 30%;
}

#temp-total {
	width: 33%
}

#temp-special-instruc-dock {
	margin-top: 1%;
	height: 70%;
	width: 100%;
}

.temp-special-instruc-input {
	resize: none;
	width: 100%;
	height: 65%;
}

#temp-quantity-total-block {
	float: left;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 24%;
}

.itemParagraph {
	margin-bottom: 5px;
	margin-top: 5px;
}


/* Side - Current Order */

#side-current-order {
	width: 15%;
	height: 75%;
	margin-left: 2.5%;
	position: static;
	float: left;
	justify-content: center;
}

#side-order-title-block {
	text-align: center;
	height: 5%;
	/*border-bottom: thick solid;*/
	margin-left: 3%;
	margin-right: 3%;
}

#toggle-ingredients, #toggle-allergies{
	background: none;
	margin: 0px;
	margin-bottom: 2px;
	padding: 0px;
	border: none;
	color: orange;
}

.ingredients-block, .allergies-block {
	display:none;
	margin: 0px;
	padding: 0px;
}

.side-order-items-block {
	height: 75%;
	overflow: auto;
	border-bottom: thick solid;
	border-top: thick solid;
}

.side-order-item {
	width: 90%;
	height: 15%;
	margin-left: 5%;
	float: left;
	border-bottom: thin solid;
	font-size: 12.5px;
	vertical-align: center;
}

.side-order-item-name {
	float: left;
}

.side-order-item-quantity {
	float: left;
	margin-left: 2%;
	position: relative;
}

.side-order-item-cost {
	float: right;
}

#side-order-item-bottom {
	height: 25%
}

#side-order-total {
	width: 90%;
	height: 7%;
	margin-left: 5%;
}

#side-order-total-text {
	float: left;

}

#side-order-total-container {
	float: right;
}

#side-order-total-dollar-sign {
	float: left;
}

#side-order-total-amount {
	float: left;
}

#side-order-buttons-block {
	position: relative;
	margin: auto;
	width: 100%;
	text-align: center;
}

#side-order-edit-button {
}

#side-order-submit-button {
}

.darkGreenBackground {
	background-color: #0A290A;
	color: #FFFFFF;
	box-shadow: 10px 10px 5px #333333;
}

.darkGreenBackground:hover {
	background-color: #1A391A;
}

.roundedBorder {
	border-radius: 20px;	
}

.brickRedBackground {
	background-color: #4F4F4F;
	color: #FFFFFF;
}

/* Hide elements when screen changes */
@media screen and ( max-width: 1200px ) {
	#side-current-order {
		display: none;
	}

	.menu-items-dock {
		width: 99%;
	}
}
